
body{
    overflow: hidden;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    font-family: Arial;
}
main > img{
    height: 150px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.error404{
    font-weight: bold;
    font-size: 35px;
    color: rgb(75, 75, 75);
    margin-bottom: 10px;
}

span.title{
    font-size: 16px;
    font-weight: bold ;
    margin-bottom: 20px;
    color: gray;
    
}
span.sub-text{
    width: 70%;
    text-align: center;
    color: gray;
}
span.sub-text>a{
    text-decoration: none;
}
.author{
    color: gray;
    margin-top: 20px;
}
a{
    color: #4183C4;
}
.socials{
    margin-top: 30px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.socials > a >img {
    height: 30px;
}

.secret-url{
    color: gray;
}
.riddle{
    width: 60%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: gray;
    font-weight: bold;
}




